@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

* {
	box-sizing:border-box;
}

body{
  background-color: #dfe6e9;
  margin:0;
	padding:0;
	font-family:"Titillium Web";
}

.header {
  background-color: #2c3e50;
  height:50px;
  width:100%;
  top:0;
  text-align:center;
	color:#fff;
}

.header h1 {
    margin:0;
	line-height:50px;
	font-size:30px;
	
}

.container {
	margin:40px auto;
	width:90%;
}

.contentarea {
	width:70%;
	float:left;
	
}

.inputarea {
	margin:10px;
	background:#fff;
	padding:20px;
	
	
}

.options {
	width:30%;
	float:left;
	
}



.publisharea {
	margin:10px;
	background:#fff;
	padding:20px;
	
}

.title input[type=text] {
  width: 100%;
  padding: 10px;
  margin-bottom:20px;
  border: 1px solid #ccc;
  font-size:20px;
  font-weight:400;
  color:#666;
  height: 40px;
}

::-webkit-input-placeholder {
  color: #636e72;
  font-size: 15px;
}

.publisharea input[type=text] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  height: 45px;
  margin-bottom:20px;
}

.publisharea input[type=password] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  height: 45px;
  margin-bottom:20px;
}

.inputarea textarea {
  width: 100%;
  height: 150px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  
  resize: none;
}

.input-group {
	position:relative;
	display:table;
	border-collapse:separate;
    width:100%;
}

.input-group-addon {
    width: 200px;
	font-size:14px;
	text-align:center;
	display:table-cell;
	background:#eee;
    border:1px solid #ccc;
}



.button1 {
  
  color: #227093;
  width: 100%;
  height:35px;
  font-size: 20px;
  border: 1px solid #227093;
  border-radius: 2px;
  background-color: #dfe6e9;
  margin-top:20px;
  transition-duration:0.5s;
}

.button1:hover{
  background:#2c3e50;
  color: #f1f1f1;
  
}



.footer {
  height: 40px;
  width: 100%;
  background-color: #f5f5f5;
  color: white;
  text-align: center;
  bottom:0px;
  position:fixed;
}

.footer a {
	text-decoration:none;
	color:#444;
	display:inline-block;
    width:100px;
	line-height:40px;
}



@media (max-width:900px){
	.contentarea {
		width:100%;
	}
	.options {
		width:100%;
		margin-top:40px;
		margin-bottom:50px;
	}
}


