<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'docs.css' %}" />
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>
</head>
<body >
  <div class="outer_class">
    <form method="post" action="" target="blank">
        {% csrf_token %}

        <div class="container">
          <div class="title">
            <input type="text" name="title" value="{{title}}" placeholder="Title" required>
          </div>
          <div class="content">
            <textarea rows="12" cols="30" name="content" value="{{data}}"  id="editor" required></textarea>
          </div>
          
          <div class="publish">
            {% if not no_custom_url %}
              <input type="text" name="url" placeholder="Custom Url" required>
            {% endif %}
            <button class="button1" type="submit" >Publish</button>
          </div>

      
        </div>

        {% if url_error %}
            <p>This url is already taken . Select another url</p>
        {% endif %}
    </form>
  </div>

<script>
    CKEDITOR.replace('editor');
</script>

<script type="text/javascript">
  var data = document.getElementById("editor").getAttribute("value");
  CKEDITOR.instances['editor'].setData(data);
</script>

</body>
</html>
