<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocURL.me - Create Shareable Notes</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <script type="text/javascript" src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  
<body>

	<div class="header">
		<h1>DocURL.me</h1>
	</div>
	<form method="POST" name="myForm" action=""  onsubmit="return validateForm()">
    {% csrf_token %}
    <div class="container">
    
      <div class="contentarea">
        <div class="inputarea">
          
          <div class="title">
            <input type="text" name="title" value="{{title}}" placeholder="Title" required>
          </div>
          
          <div class="content">
            <textarea rows="15" cols="30" name="content" value="{{data}}"  id="editor" required></textarea>
          </div>
        </div>
      </div>
      
      <div class="options">
        <div class="publisharea">
          {% if not no_custom_url %}
            <div class="input-group">
              <div class="input-group-addon">https:/ /www.docurl.me/</div>
                <input type="text" name="url" placeholder="Custom URL" required>              
            </div>
          {% endif %}
          <div>
            <input id="password" type="password" name="edit_password" value="{{password}}" placeholder="Password For Future Edit" required>
            <input type="checkbox" onclick="show_password()">Show Password
          </div>
          <div style="margin-top: 20px; width:100% ;" class="g-recaptcha" data-sitekey="6LfLtfIUAAAAAHLBQZUYYKEaGpGm5MJGRxZGGhLb"></div>
          <input type="hidden" name="recaptcha" data-rule-recaptcha="true">
          <button class="button1" type="submit" >Publish</button>
        </div>
        
      </div>
    </div>
  </form>

  
	
<div class="footer">
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Support</a>      
</div>

<script>
  function show_password() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
<!--
<script>
  function validateForm() {	
      var recaptcha = document.forms["myForm"]["g-recaptcha-response"].value;
      if (recaptcha == "") {
          alert("Please fill reCAPTCHA");
          return false;
      }
  }
</script>
-->
<script>
    CKEDITOR.replace('editor');
</script>

<script src='https://www.google.com/recaptcha/api.js?hl=en'></script>

<script type="text/javascript">
  var data = document.getElementById("editor").getAttribute("value");
  CKEDITOR.instances['editor'].setData(data);
</script>

</body>
</html>
			
			
			