{% extends "parent_page.html" %}{% block content %}<center><h1 id="main_heading">rtttt</h1></center><h2>The HTML &lt;audio&gt; Element</h2>

<p>To play an audio file in HTML, use the&nbsp;<code>&lt;audio&gt;</code>&nbsp;element:</p>

<h3>Example</h3>

<p>&lt;audio&nbsp;controls&gt;<br />
&nbsp;&nbsp;&lt;source&nbsp;src=&quot;horse.ogg&quot;&nbsp;type=&quot;audio/ogg&quot;&gt;<br />
&nbsp;&nbsp;&lt;source&nbsp;src=&quot;horse.mp3&quot;&nbsp;type=&quot;audio/mpeg&quot;&gt;<br />
Your browser does not support the audio element.<br />
&lt;/audio&gt;</p>

<p><a href="https://www.w3schools.com/html/tryit.asp?filename=tryhtml5_audio_all" target="_blank">Try it Yourself &raquo;</a></p>

<hr />
<h2>HTML Audio - How It Works</h2>

<p>The&nbsp;<code>controls</code>&nbsp;attribute adds audio controls, like play, pause, and volume.</p>

<p>The&nbsp;<code>&lt;source&gt;</code>&nbsp;element allows you to specify alternative audio files which the browser may choose from. The browser will use the first recognized format.</p>

<p>The text between the&nbsp;<code>&lt;audio&gt;</code>&nbsp;and&nbsp;<code>&lt;/audio&gt;</code>&nbsp;tags will only be displayed in browsers that do not support the&nbsp;<code>&lt;audio&gt;</code>&nbsp;element.</p>

<hr />
<h2>Browser Support</h2>

<p>The numbers in the table specify the first browser version that fully supports the&nbsp;<code>&lt;audio&gt;</code>&nbsp;element.</p>

<table>
	<tbody>
		<tr>
			<th>Element</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
			<th>&nbsp;</th>
		</tr>
		<tr>
			<td>&lt;audio&gt;</td>
			<td>4.0</td>
			<td>9.0</td>
			<td>3.5</td>
			<td>4.0</td>
			<td>10.5</td>
		</tr>
	</tbody>
</table>

<hr />
<p>&nbsp;</p>

<hr />
<h2>HTML Audio Formats</h2>

<p>There are three supported audio formats: MP3, WAV, and OGG. The browser support for the different formats is:&nbsp;</p>

<table>
	<tbody>
		<tr>
			<th>Browser</th>
			<th>MP3</th>
			<th>WAV</th>
			<th>OGG</th>
		</tr>
		<tr>
			<td>Edge/IE</td>
			<td>YES</td>
			<td>NO</td>
			<td>NO</td>
		</tr>
		<tr>
			<td>Chrome</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
		</tr>
		<tr>
			<td>Firefox</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
		</tr>
		<tr>
			<td>Safari</td>
			<td>YES</td>
			<td>YES</td>
			<td>NO</td>
		</tr>
		<tr>
			<td>Opera</td>
			<td>YES</td>
			<td>YES</td>
			<td>YES</td>
		</tr>
	</tbody>
</table>

<hr />
<h2>HTML Audio - Media Types</h2>

<table>
	<tbody>
		<tr>
			<th>File Format</th>
			<th>Media Type</th>
		</tr>
		<tr>
			<td>MP3</td>
			<td>audio/mpeg</td>
		</tr>
		<tr>
			<td>OGG</td>
			<td>audio/ogg</td>
		</tr>
		<tr>
			<td>WAV</td>
			<td>audio/wav</td>
		</tr>
	</tbody>
</table>

<hr />
<h2>HTML Audio - Methods, Properties, and Events</h2>

<p>HTML defines DOM methods, properties, and events for the&nbsp;<code>&lt;audio&gt;</code>&nbsp;element.</p>

<p>This allows you to load, play, and pause audios, as well as set duration and volume.</p>

<p>There are also DOM events that can notify you when an audio begins to play, is paused, etc.</p>

<p>For a full DOM reference, go to our&nbsp;<a href="https://www.w3schools.com/tags/ref_av_dom.asp">HTML Audio/Video DOM Reference</a>.</p>

<hr />
<h2>HTML Audio Tags</h2>

<table>
	<tbody>
		<tr>
			<th>Tag</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="https://www.w3schools.com/tags/tag_audio.asp">&lt;audio&gt;</a></td>
			<td>
			<h3>Defines sound content</h3>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}