<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DocURL.me</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'parent__page.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
		<h1>DocURL.me</h1>
    </div>

    <div class="ist_div">
        <div class="column1">
            <form method="POST" action="" target="blank">
                {%csrf_token%}   
                {% if ask_password %}
                    <input type="password" name="edit_password" placeholder="Enter Edit Password" required>
                {% endif %}
                <button class="button" name="edit" type="submit"><i class="fa fa-edit" aria-hidden="true"></i>  Edit</button>
            </form>
            {% if wrong_password %}
                <p>Edit Password is Wrong</p>
            {% endif %}
        </div>

        <div class="column2">
            <form method="POST" action="" >
                {%csrf_token%}
                <button class="button" name="download" type="submit"><i class="fa fa-download" aria-hidden="true"></i>  Save as PDF</button>
            </form>    
            <button class="button" onclick="CopyLink()">Click me</button>        
        </div>

        <div class="page_content">
            
            {% block content%}
            {% endblock %}
        </div>
    </div>

    <div class="footer">    
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#">Support</a>       
  </div>
<script>
    function CopyLink() {
    window.clipboardData.setData("Text", location.href);
    }
</script>
    
</body>
</html>