body{
    background-color: #dfe6e9;
    padding: auto;
  }
.ist_div {
    width:80%;
    height:80%;
    margin: 50px;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 15px;
}
#main_heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}